.top_buffer {
  width: auto;
  height: 150px; }

.accessible {
  position: relative;
  width: 850px;
  border-top: 1px solid #000000;
  display: block; }
  .accessible .filmmaker_table_end_buffer {
    width: 100%;
    height: 75px;
    display: table; }
  .accessible .table {
    width: 850px;
    height: 100px;
    display: table; }
    .accessible .table .table_cell_container {
      display: table-row; }
      .accessible .table .table_cell_container .table_cell_left_margin, .accessible .table .table_cell_container .table_cell_right_margin {
        width: 1.8%;
        display: table-cell; }
      .accessible .table .table_cell_container .table_title {
        width: 11.3%;
        display: table; }
        .accessible .table .table_cell_container .table_title .title {
          font-family: league_gothic, sans-serif;
          font-size: 30px;
          margin-top: 11px;
          color: #000; }
      .accessible .table .table_cell_container .table_content {
        width: 85.1%;
        display: table-cell;
        vertical-align: top; }
        .accessible .table .table_cell_container .table_content .table_spacer {
          height: 30px;
          width: 100%;
          display: table; }
        .accessible .table .table_cell_container .table_content .table_compilation_cell {
          width: 100%;
          height: 188px;
          font-family: trade_gothic_bold, sans-serif;
          font-size: 16px;
          display: table; }
          .accessible .table .table_cell_container .table_content .table_compilation_cell .table_compilation_row {
            display: table-row; }
            .accessible .table .table_cell_container .table_content .table_compilation_cell .table_compilation_row a {
              text-decoration: none;
              color: #000;
              position: absolute; }
              .accessible .table .table_cell_container .table_content .table_compilation_cell .table_compilation_row a .red_container {
                width: 253px;
                height: 188px;
                border: 2px solid #fff;
                display: table-cell;
                color: #E22134;
                position: relative;
                overflow: hidden;
                background: #D8D8D8; }
                .accessible .table .table_cell_container .table_content .table_compilation_cell .table_compilation_row a .red_container .film_still_container_child {
                  position: absolute;
                  top: -9999px;
                  bottom: -9999px;
                  left: -9999px;
                  right: -9999px;
                  margin: auto; }
                .accessible .table .table_cell_container .table_content .table_compilation_cell .table_compilation_row a .red_container .table_compilation_container_center {
                  margin: auto;
                  margin-top: 6%;
                  width: 87%;
                  height: 84%;
                  vertical-align: middle;
                  display: table;
                  text-align: center;
                  position: relative; }
                  .accessible .table .table_cell_container .table_content .table_compilation_cell .table_compilation_row a .red_container .table_compilation_container_center .text {
                    vertical-align: middle;
                    display: table-cell; }
              .accessible .table .table_cell_container .table_content .table_compilation_cell .table_compilation_row a .red_container:hover {
                border: 2px solid #E22134;
                color: #E22134;
                cursor: pointer; }
              .accessible .table .table_cell_container .table_content .table_compilation_cell .table_compilation_row a .yellow_container {
                width: 253px;
                height: 188px;
                border: 2px solid #fff;
                display: table-cell;
                color: #FFC300;
                position: relative;
                overflow: hidden;
                background: #D8D8D8; }
                .accessible .table .table_cell_container .table_content .table_compilation_cell .table_compilation_row a .yellow_container .film_still_container_child {
                  position: absolute;
                  top: -9999px;
                  bottom: -9999px;
                  left: -9999px;
                  right: -9999px;
                  margin: auto; }
                .accessible .table .table_cell_container .table_content .table_compilation_cell .table_compilation_row a .yellow_container .table_compilation_container_center {
                  margin: auto;
                  margin-top: 6%;
                  width: 87%;
                  height: 84%;
                  vertical-align: middle;
                  display: table;
                  text-align: center;
                  position: relative; }
                  .accessible .table .table_cell_container .table_content .table_compilation_cell .table_compilation_row a .yellow_container .table_compilation_container_center .text {
                    vertical-align: middle;
                    display: table-cell; }
              .accessible .table .table_cell_container .table_content .table_compilation_cell .table_compilation_row a .yellow_container:hover {
                border: 2px solid #FFC300;
                color: #FFC300;
                cursor: pointer; }
              .accessible .table .table_cell_container .table_content .table_compilation_cell .table_compilation_row a .green_container {
                width: 253px;
                height: 188px;
                border: 2px solid #fff;
                display: table-cell;
                color: #009347;
                position: relative;
                overflow: hidden;
                background: #D8D8D8; }
                .accessible .table .table_cell_container .table_content .table_compilation_cell .table_compilation_row a .green_container .film_still_container_child {
                  position: absolute;
                  top: -9999px;
                  bottom: -9999px;
                  left: -9999px;
                  right: -9999px;
                  margin: auto; }
                .accessible .table .table_cell_container .table_content .table_compilation_cell .table_compilation_row a .green_container .table_compilation_container_center {
                  margin: auto;
                  margin-top: 6%;
                  width: 87%;
                  height: 84%;
                  vertical-align: middle;
                  display: table;
                  text-align: center;
                  position: relative; }
                  .accessible .table .table_cell_container .table_content .table_compilation_cell .table_compilation_row a .green_container .table_compilation_container_center .text {
                    vertical-align: middle;
                    display: table-cell; }
              .accessible .table .table_cell_container .table_content .table_compilation_cell .table_compilation_row a .green_container:hover {
                border: 2px solid #009347;
                color: #009347;
                cursor: pointer; }
              .accessible .table .table_cell_container .table_content .table_compilation_cell .table_compilation_row a .blue_container {
                width: 253px;
                height: 188px;
                border: 2px solid #fff;
                display: table-cell;
                color: #0082B8;
                position: relative;
                overflow: hidden;
                background: #D8D8D8; }
                .accessible .table .table_cell_container .table_content .table_compilation_cell .table_compilation_row a .blue_container .film_still_container_child {
                  position: absolute;
                  top: -9999px;
                  bottom: -9999px;
                  left: -9999px;
                  right: -9999px;
                  margin: auto; }
                .accessible .table .table_cell_container .table_content .table_compilation_cell .table_compilation_row a .blue_container .table_compilation_container_center {
                  margin: auto;
                  margin-top: 6%;
                  width: 87%;
                  height: 84%;
                  vertical-align: middle;
                  display: table;
                  text-align: center;
                  position: relative; }
                  .accessible .table .table_cell_container .table_content .table_compilation_cell .table_compilation_row a .blue_container .table_compilation_container_center .text {
                    vertical-align: middle;
                    display: table-cell; }
              .accessible .table .table_cell_container .table_content .table_compilation_cell .table_compilation_row a .blue_container:hover {
                border: 2px solid #0082B8;
                color: #0082B8;
                cursor: pointer; }
              .accessible .table .table_cell_container .table_content .table_compilation_cell .table_compilation_row a .orange_container {
                width: 253px;
                height: 188px;
                border: 2px solid #fff;
                display: table-cell;
                color: #F56F02;
                position: relative;
                overflow: hidden;
                background: #D8D8D8; }
                .accessible .table .table_cell_container .table_content .table_compilation_cell .table_compilation_row a .orange_container .film_still_container_child {
                  position: absolute;
                  top: -9999px;
                  bottom: -9999px;
                  left: -9999px;
                  right: -9999px;
                  margin: auto; }
                .accessible .table .table_cell_container .table_content .table_compilation_cell .table_compilation_row a .orange_container .table_compilation_container_center {
                  margin: auto;
                  margin-top: 6%;
                  width: 87%;
                  height: 84%;
                  vertical-align: middle;
                  display: table;
                  text-align: center;
                  position: relative; }
                  .accessible .table .table_cell_container .table_content .table_compilation_cell .table_compilation_row a .orange_container .table_compilation_container_center .text {
                    vertical-align: middle;
                    display: table-cell; }
              .accessible .table .table_cell_container .table_content .table_compilation_cell .table_compilation_row a .orange_container:hover {
                border: 2px solid #F56F02;
                color: #F56F02;
                cursor: pointer; }
              .accessible .table .table_cell_container .table_content .table_compilation_cell .table_compilation_row a .purple_container {
                width: 253px;
                height: 188px;
                border: 2px solid #fff;
                display: table-cell;
                color: #6F3296;
                position: relative;
                overflow: hidden;
                background: #D8D8D8; }
                .accessible .table .table_cell_container .table_content .table_compilation_cell .table_compilation_row a .purple_container .film_still_container_child {
                  position: absolute;
                  top: -9999px;
                  bottom: -9999px;
                  left: -9999px;
                  right: -9999px;
                  margin: auto; }
                .accessible .table .table_cell_container .table_content .table_compilation_cell .table_compilation_row a .purple_container .table_compilation_container_center {
                  margin: auto;
                  margin-top: 6%;
                  width: 87%;
                  height: 84%;
                  vertical-align: middle;
                  display: table;
                  text-align: center;
                  position: relative; }
                  .accessible .table .table_cell_container .table_content .table_compilation_cell .table_compilation_row a .purple_container .table_compilation_container_center .text {
                    vertical-align: middle;
                    display: table-cell; }
              .accessible .table .table_cell_container .table_content .table_compilation_cell .table_compilation_row a .purple_container:hover {
                border: 2px solid #6F3296;
                color: #6F3296;
                cursor: pointer; }
              .accessible .table .table_cell_container .table_content .table_compilation_cell .table_compilation_row a .black_container {
                width: 253px;
                height: 188px;
                border: 2px solid #fff;
                display: table-cell;
                color: #000;
                position: relative;
                overflow: hidden;
                background: #D8D8D8; }
                .accessible .table .table_cell_container .table_content .table_compilation_cell .table_compilation_row a .black_container .film_still_container_child {
                  position: absolute;
                  top: -9999px;
                  bottom: -9999px;
                  left: -9999px;
                  right: -9999px;
                  margin: auto; }
                .accessible .table .table_cell_container .table_content .table_compilation_cell .table_compilation_row a .black_container .table_compilation_container_center {
                  margin: auto;
                  margin-top: 6%;
                  width: 87%;
                  height: 84%;
                  vertical-align: middle;
                  display: table;
                  text-align: center;
                  position: relative; }
                  .accessible .table .table_cell_container .table_content .table_compilation_cell .table_compilation_row a .black_container .table_compilation_container_center .text {
                    vertical-align: middle;
                    display: table-cell; }
              .accessible .table .table_cell_container .table_content .table_compilation_cell .table_compilation_row a .black_container:hover {
                border: 2px solid #000;
                color: #000;
                cursor: pointer; }
              .accessible .table .table_cell_container .table_content .table_compilation_cell .table_compilation_row a .grey_container {
                width: 253px;
                height: 188px;
                border: 2px solid #fff;
                display: table-cell;
                color: #D8D8D8;
                position: relative;
                overflow: hidden;
                background: #D8D8D8; }
                .accessible .table .table_cell_container .table_content .table_compilation_cell .table_compilation_row a .grey_container .film_still_container_child {
                  position: absolute;
                  top: -9999px;
                  bottom: -9999px;
                  left: -9999px;
                  right: -9999px;
                  margin: auto; }
                .accessible .table .table_cell_container .table_content .table_compilation_cell .table_compilation_row a .grey_container .table_compilation_container_center {
                  margin: auto;
                  margin-top: 6%;
                  width: 87%;
                  height: 84%;
                  vertical-align: middle;
                  display: table;
                  text-align: center;
                  position: relative; }
                  .accessible .table .table_cell_container .table_content .table_compilation_cell .table_compilation_row a .grey_container .table_compilation_container_center .text {
                    vertical-align: middle;
                    display: table-cell; }
              .accessible .table .table_cell_container .table_content .table_compilation_cell .table_compilation_row a .grey_container:hover {
                border: 2px solid #D8D8D8;
                color: #D8D8D8;
                cursor: pointer; }
            .accessible .table .table_cell_container .table_content .table_compilation_cell .table_compilation_row a:hover {
              text-decoration: none;
              color: #000; }
            .accessible .table .table_cell_container .table_content .table_compilation_cell .table_compilation_row .table_compilation_container_empty {
              width: 253px;
              display: table-cell; }
            .accessible .table .table_cell_container .table_content .table_compilation_cell .table_compilation_row .table_compilation_spacer {
              width: 30px;
              display: table-cell; }

/*# sourceMappingURL=compilations_main.css.map */
