@charset "UTF-8";
.top_buffer {
  width: auto;
  height: 210px; }

.accessible {
  border-top: 1px solid #000000; }

.red_container_text {
  color: #000; }
  .red_container_text a, .red_container_text a:hover {
    text-decoration: none;
    color: #000;
    font-family: trade_gothic_bold, sans-serif;
    cursor: pointer; }
  .red_container_text a:hover {
    color: #E22134; }

.red_container {
  color: #E22134; }

.red_container_img {
  width: 253px;
  height: 188px;
  display: table-cell;
  color: #E22134;
  position: relative;
  overflow: hidden;
  background: #D8D8D8;
  float: left; }
  .red_container_img .film_still_container_child {
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto; }
  .red_container_img .table_purchase_container_center {
    margin: auto;
    margin-top: 6%;
    width: 87%;
    height: 84%;
    vertical-align: middle;
    display: table;
    text-align: center;
    position: relative; }

.red_container_img:hover {
  border: 2px solid #E22134;
  color: #E22134;
  cursor: pointer; }

.yellow_container_text {
  color: #000; }
  .yellow_container_text a, .yellow_container_text a:hover {
    text-decoration: none;
    color: #000;
    font-family: trade_gothic_bold, sans-serif;
    cursor: pointer; }
  .yellow_container_text a:hover {
    color: #FFC300; }

.yellow_container {
  color: #FFC300; }

.yellow_container_img {
  width: 253px;
  height: 188px;
  display: table-cell;
  color: #FFC300;
  position: relative;
  overflow: hidden;
  background: #D8D8D8;
  float: left; }
  .yellow_container_img .film_still_container_child {
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto; }
  .yellow_container_img .table_purchase_container_center {
    margin: auto;
    margin-top: 6%;
    width: 87%;
    height: 84%;
    vertical-align: middle;
    display: table;
    text-align: center;
    position: relative; }

.yellow_container_img:hover {
  border: 2px solid #FFC300;
  color: #FFC300;
  cursor: pointer; }

.green_container_text {
  color: #000; }
  .green_container_text a, .green_container_text a:hover {
    text-decoration: none;
    color: #000;
    font-family: trade_gothic_bold, sans-serif;
    cursor: pointer; }
  .green_container_text a:hover {
    color: #009347; }

.green_container {
  color: #009347; }

.green_container_img {
  width: 253px;
  height: 188px;
  display: table-cell;
  color: #009347;
  position: relative;
  overflow: hidden;
  background: #D8D8D8;
  float: left; }
  .green_container_img .film_still_container_child {
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto; }
  .green_container_img .table_purchase_container_center {
    margin: auto;
    margin-top: 6%;
    width: 87%;
    height: 84%;
    vertical-align: middle;
    display: table;
    text-align: center;
    position: relative; }

.green_container_img:hover {
  border: 2px solid #009347;
  color: #009347;
  cursor: pointer; }

.blue_container_text {
  color: #000; }
  .blue_container_text a, .blue_container_text a:hover {
    text-decoration: none;
    color: #000;
    font-family: trade_gothic_bold, sans-serif;
    cursor: pointer; }
  .blue_container_text a:hover {
    color: #0082B8; }

.blue_container {
  color: #0082B8; }

.blue_container_img {
  width: 253px;
  height: 188px;
  display: table-cell;
  color: #0082B8;
  position: relative;
  overflow: hidden;
  background: #D8D8D8;
  float: left; }
  .blue_container_img .film_still_container_child {
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto; }
  .blue_container_img .table_purchase_container_center {
    margin: auto;
    margin-top: 6%;
    width: 87%;
    height: 84%;
    vertical-align: middle;
    display: table;
    text-align: center;
    position: relative; }

.blue_container_img:hover {
  border: 2px solid #0082B8;
  color: #0082B8;
  cursor: pointer; }

.orange_container_text {
  color: #000; }
  .orange_container_text a, .orange_container_text a:hover {
    text-decoration: none;
    color: #000;
    font-family: trade_gothic_bold, sans-serif;
    cursor: pointer; }
  .orange_container_text a:hover {
    color: #F56F02; }

.orange_container {
  color: #F56F02; }

.orange_container_img {
  width: 253px;
  height: 188px;
  display: table-cell;
  color: #F56F02;
  position: relative;
  overflow: hidden;
  background: #D8D8D8;
  float: left; }
  .orange_container_img .film_still_container_child {
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto; }
  .orange_container_img .table_purchase_container_center {
    margin: auto;
    margin-top: 6%;
    width: 87%;
    height: 84%;
    vertical-align: middle;
    display: table;
    text-align: center;
    position: relative; }

.orange_container_img:hover {
  border: 2px solid #F56F02;
  color: #F56F02;
  cursor: pointer; }

.purple_container_text {
  color: #000; }
  .purple_container_text a, .purple_container_text a:hover {
    text-decoration: none;
    color: #000;
    font-family: trade_gothic_bold, sans-serif;
    cursor: pointer; }
  .purple_container_text a:hover {
    color: #6F3296; }

.purple_container {
  color: #6F3296; }

.purple_container_img {
  width: 253px;
  height: 188px;
  display: table-cell;
  color: #6F3296;
  position: relative;
  overflow: hidden;
  background: #D8D8D8;
  float: left; }
  .purple_container_img .film_still_container_child {
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto; }
  .purple_container_img .table_purchase_container_center {
    margin: auto;
    margin-top: 6%;
    width: 87%;
    height: 84%;
    vertical-align: middle;
    display: table;
    text-align: center;
    position: relative; }

.purple_container_img:hover {
  border: 2px solid #6F3296;
  color: #6F3296;
  cursor: pointer; }

.black_container_text {
  color: #000; }
  .black_container_text a, .black_container_text a:hover {
    text-decoration: none;
    color: #000;
    font-family: trade_gothic_bold, sans-serif;
    cursor: pointer; }
  .black_container_text a:hover {
    color: #000; }

.black_container {
  color: #000; }

.black_container_img {
  width: 253px;
  height: 188px;
  display: table-cell;
  color: #000;
  position: relative;
  overflow: hidden;
  background: #D8D8D8;
  float: left; }
  .black_container_img .film_still_container_child {
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto; }
  .black_container_img .table_purchase_container_center {
    margin: auto;
    margin-top: 6%;
    width: 87%;
    height: 84%;
    vertical-align: middle;
    display: table;
    text-align: center;
    position: relative; }

.black_container_img:hover {
  border: 2px solid #000;
  color: #000;
  cursor: pointer; }

.grey_container_text {
  color: #000; }
  .grey_container_text a, .grey_container_text a:hover {
    text-decoration: none;
    color: #000;
    font-family: trade_gothic_bold, sans-serif;
    cursor: pointer; }
  .grey_container_text a:hover {
    color: #D8D8D8; }

.grey_container {
  color: #D8D8D8; }

.grey_container_img {
  width: 253px;
  height: 188px;
  display: table-cell;
  color: #D8D8D8;
  position: relative;
  overflow: hidden;
  background: #D8D8D8;
  float: left; }
  .grey_container_img .film_still_container_child {
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto; }
  .grey_container_img .table_purchase_container_center {
    margin: auto;
    margin-top: 6%;
    width: 87%;
    height: 84%;
    vertical-align: middle;
    display: table;
    text-align: center;
    position: relative; }

.grey_container_img:hover {
  border: 2px solid #D8D8D8;
  color: #D8D8D8;
  cursor: pointer; }

.accessible, .accessible_generic {
  position: relative;
  width: 850px;
  display: block; }
  .accessible .purchase_table, .accessible_generic .purchase_table {
    width: 850px;
    height: 100px;
    display: table;
    font-size: 14px;
    font-family: trade_gothic, sans-serif; }
    .accessible .purchase_table ul, .accessible_generic .purchase_table ul {
      list-style: none;
      margin: 0;
      padding: 0;
      margin-left: 30px; }
    .accessible .purchase_table li::before, .accessible_generic .purchase_table li::before {
      content: "•";
      color: #FFC300;
      display: inline-block;
      width: 1.5em;
      margin-left: -1.5em;
      float: top; }
    .accessible .purchase_table .purchase_table_end_buffer, .accessible_generic .purchase_table .purchase_table_end_buffer {
      display: table;
      width: 100%;
      height: 75px; }
    .accessible .purchase_table .purchase_table_cell_container, .accessible_generic .purchase_table .purchase_table_cell_container {
      display: table-row; }
      .accessible .purchase_table .purchase_table_cell_container .purchase_table_cell_left_margin, .accessible .purchase_table .purchase_table_cell_container .purchase_table_cell_right_margin, .accessible_generic .purchase_table .purchase_table_cell_container .purchase_table_cell_left_margin, .accessible_generic .purchase_table .purchase_table_cell_container .purchase_table_cell_right_margin {
        width: 1.8%;
        display: table-cell; }
      .accessible .purchase_table .purchase_table_cell_container .purchase_table_contents, .accessible_generic .purchase_table .purchase_table_cell_container .purchase_table_contents {
        display: table-cell; }
        .accessible .purchase_table .purchase_table_cell_container .purchase_table_contents .volume_container, .accessible_generic .purchase_table .purchase_table_cell_container .purchase_table_contents .volume_container {
          width: 820px;
          display: table; }
          .accessible .purchase_table .purchase_table_cell_container .purchase_table_contents .volume_container .volume_title_container, .accessible_generic .purchase_table .purchase_table_cell_container .purchase_table_contents .volume_container .volume_title_container {
            display: table; }
            .accessible .purchase_table .purchase_table_cell_container .purchase_table_contents .volume_container .volume_title_container .volume_title, .accessible_generic .purchase_table .purchase_table_cell_container .purchase_table_contents .volume_container .volume_title_container .volume_title {
              font-family: trade_gothic_bold, sans-serif;
              font-size: 18px; }
          .accessible .purchase_table .purchase_table_cell_container .purchase_table_contents .volume_container .volume_additional_text_container, .accessible_generic .purchase_table .purchase_table_cell_container .purchase_table_contents .volume_container .volume_additional_text_container {
            font-family: trade_gothic, sans-serif;
            font-size: 14px;
            display: table; }
          .accessible .purchase_table .purchase_table_cell_container .purchase_table_contents .volume_container .films_container, .accessible_generic .purchase_table .purchase_table_cell_container .purchase_table_contents .volume_container .films_container {
            display: table; }
            .accessible .purchase_table .purchase_table_cell_container .purchase_table_contents .volume_container .films_container .film_container, .accessible_generic .purchase_table .purchase_table_cell_container .purchase_table_contents .volume_container .films_container .film_container {
              width: 820px;
              display: table; }
              .accessible .purchase_table .purchase_table_cell_container .purchase_table_contents .volume_container .films_container .film_container .film_text_container, .accessible_generic .purchase_table .purchase_table_cell_container .purchase_table_contents .volume_container .films_container .film_container .film_text_container {
                width: 537px; }
        .accessible .purchase_table .purchase_table_cell_container .purchase_table_contents .contents_spacer, .accessible_generic .purchase_table .purchase_table_cell_container .purchase_table_contents .contents_spacer {
          width: 100%;
          height: 30px;
          display: table; }
        .accessible .purchase_table .purchase_table_cell_container .purchase_table_contents .contents_end_buffer, .accessible_generic .purchase_table .purchase_table_cell_container .purchase_table_contents .contents_end_buffer {
          display: table;
          width: 100%;
          height: 75px; }
        .accessible .purchase_table .purchase_table_cell_container .purchase_table_contents .generic_table, .accessible_generic .purchase_table .purchase_table_cell_container .purchase_table_contents .generic_table {
          display: table; }
          .accessible .purchase_table .purchase_table_cell_container .purchase_table_contents .generic_table .generic_table_title, .accessible_generic .purchase_table .purchase_table_cell_container .purchase_table_contents .generic_table .generic_table_title {
            display: table; }
            .accessible .purchase_table .purchase_table_cell_container .purchase_table_contents .generic_table .generic_table_title .generic_title, .accessible_generic .purchase_table .purchase_table_cell_container .purchase_table_contents .generic_table .generic_table_title .generic_title {
              font-family: league_gothic, sans-serif;
              font-size: 30px;
              margin-top: 11px;
              color: #000;
              display: inline-block; }
            .accessible .purchase_table .purchase_table_cell_container .purchase_table_contents .generic_table .generic_table_title .generic_sub_title, .accessible_generic .purchase_table .purchase_table_cell_container .purchase_table_contents .generic_table .generic_table_title .generic_sub_title {
              font-family: trade_gothic_bold, sans-serif;
              font-size: 18px;
              margin-top: 11px;
              color: #000;
              display: inline-block; }
          .accessible .purchase_table .purchase_table_cell_container .purchase_table_contents .generic_table .generic_spacer, .accessible_generic .purchase_table .purchase_table_cell_container .purchase_table_contents .generic_table .generic_spacer {
            width: 100%;
            height: 30px;
            display: table; }
          .accessible .purchase_table .purchase_table_cell_container .purchase_table_contents .generic_table .generic_spacer_sm, .accessible_generic .purchase_table .purchase_table_cell_container .purchase_table_contents .generic_table .generic_spacer_sm {
            width: 100%;
            height: 15px;
            display: table; }
          .accessible .purchase_table .purchase_table_cell_container .purchase_table_contents .generic_table .generic_spacer_purchase, .accessible_generic .purchase_table .purchase_table_cell_container .purchase_table_contents .generic_table .generic_spacer_purchase {
            width: 100%;
            height: 30px;
            display: table; }
          .accessible .purchase_table .purchase_table_cell_container .purchase_table_contents .generic_table .generic_info_table, .accessible_generic .purchase_table .purchase_table_cell_container .purchase_table_contents .generic_table .generic_info_table {
            display: table; }
            .accessible .purchase_table .purchase_table_cell_container .purchase_table_contents .generic_table .generic_info_table .generic_text, .accessible_generic .purchase_table .purchase_table_cell_container .purchase_table_contents .generic_table .generic_info_table .generic_text {
              font-size: 14px;
              font-family: trade_gothic, sans-serif; }
              .accessible .purchase_table .purchase_table_cell_container .purchase_table_contents .generic_table .generic_info_table .generic_text b, .accessible_generic .purchase_table .purchase_table_cell_container .purchase_table_contents .generic_table .generic_info_table .generic_text b {
                font-weight: normal;
                font-family: trade_gothic_bold, sans-serif; }
              .accessible .purchase_table .purchase_table_cell_container .purchase_table_contents .generic_table .generic_info_table .generic_text a, .accessible .purchase_table .purchase_table_cell_container .purchase_table_contents .generic_table .generic_info_table .generic_text a:hover, .accessible_generic .purchase_table .purchase_table_cell_container .purchase_table_contents .generic_table .generic_info_table .generic_text a, .accessible_generic .purchase_table .purchase_table_cell_container .purchase_table_contents .generic_table .generic_info_table .generic_text a:hover {
                cursor: pointer;
                text-decoration: none;
                color: #000; }
              .accessible .purchase_table .purchase_table_cell_container .purchase_table_contents .generic_table .generic_info_table .generic_text a:hover, .accessible_generic .purchase_table .purchase_table_cell_container .purchase_table_contents .generic_table .generic_info_table .generic_text a:hover {
                color: #009347; }
            .accessible .purchase_table .purchase_table_cell_container .purchase_table_contents .generic_table .generic_info_table .generic_text_spacer, .accessible_generic .purchase_table .purchase_table_cell_container .purchase_table_contents .generic_table .generic_info_table .generic_text_spacer {
              height: 15px; }
            .accessible .purchase_table .purchase_table_cell_container .purchase_table_contents .generic_table .generic_info_table .generic_text_spacer_lg, .accessible_generic .purchase_table .purchase_table_cell_container .purchase_table_contents .generic_table .generic_info_table .generic_text_spacer_lg {
              height: 30px; }
            .accessible .purchase_table .purchase_table_cell_container .purchase_table_contents .generic_table .generic_info_table .generic_info_image, .accessible_generic .purchase_table .purchase_table_cell_container .purchase_table_contents .generic_table .generic_info_table .generic_info_image {
              width: 253px;
              height: 188px;
              display: inline-block;
              float: right; }
              .accessible .purchase_table .purchase_table_cell_container .purchase_table_contents .generic_table .generic_info_table .generic_info_image .img_container, .accessible_generic .purchase_table .purchase_table_cell_container .purchase_table_contents .generic_table .generic_info_table .generic_info_image .img_container {
                width: 253px;
                height: 188px;
                background-color: #fff;
                overflow: hidden;
                position: relative; }
                .accessible .purchase_table .purchase_table_cell_container .purchase_table_contents .generic_table .generic_info_table .generic_info_image .img_container .img_container_child, .accessible_generic .purchase_table .purchase_table_cell_container .purchase_table_contents .generic_table .generic_info_table .generic_info_image .img_container .img_container_child {
                  position: absolute;
                  top: -9999px;
                  bottom: -9999px;
                  left: -9999px;
                  right: -9999px;
                  margin: auto;
                  z-index: 0; }
            .accessible .purchase_table .purchase_table_cell_container .purchase_table_contents .generic_table .generic_info_table .generic_info_image_landscape_purchase, .accessible_generic .purchase_table .purchase_table_cell_container .purchase_table_contents .generic_table .generic_info_table .generic_info_image_landscape_purchase {
              display: inline-block;
              float: left;
              clear: both; }
              .accessible .purchase_table .purchase_table_cell_container .purchase_table_contents .generic_table .generic_info_table .generic_info_image_landscape_purchase .img_container_child_landscape, .accessible_generic .purchase_table .purchase_table_cell_container .purchase_table_contents .generic_table .generic_info_table .generic_info_image_landscape_purchase .img_container_child_landscape {
                max-width: 537px;
                margin: auto;
                z-index: 0; }
            .accessible .purchase_table .purchase_table_cell_container .purchase_table_contents .generic_table .generic_info_table .generic_info_image_purchase, .accessible_generic .purchase_table .purchase_table_cell_container .purchase_table_contents .generic_table .generic_info_table .generic_info_image_purchase {
              width: 253px;
              display: inline-block;
              float: left; }
              .accessible .purchase_table .purchase_table_cell_container .purchase_table_contents .generic_table .generic_info_table .generic_info_image_purchase .img_container_child_portrait, .accessible_generic .purchase_table .purchase_table_cell_container .purchase_table_contents .generic_table .generic_info_table .generic_info_image_purchase .img_container_child_portrait {
                max-width: 253px;
                margin: auto;
                z-index: 0; }
              .accessible .purchase_table .purchase_table_cell_container .purchase_table_contents .generic_table .generic_info_table .generic_info_image_purchase .img_container_child_landscape, .accessible_generic .purchase_table .purchase_table_cell_container .purchase_table_contents .generic_table .generic_info_table .generic_info_image_purchase .img_container_child_landscape {
                max-width: 537px;
                margin: auto;
                z-index: 0; }
              .accessible .purchase_table .purchase_table_cell_container .purchase_table_contents .generic_table .generic_info_table .generic_info_image_purchase .img_container, .accessible_generic .purchase_table .purchase_table_cell_container .purchase_table_contents .generic_table .generic_info_table .generic_info_image_purchase .img_container {
                width: 253px;
                background-color: #fff;
                position: relative; }
                .accessible .purchase_table .purchase_table_cell_container .purchase_table_contents .generic_table .generic_info_table .generic_info_image_purchase .img_container .img_container_child, .accessible_generic .purchase_table .purchase_table_cell_container .purchase_table_contents .generic_table .generic_info_table .generic_info_image_purchase .img_container .img_container_child {
                  position: absolute;
                  top: -9999px;
                  bottom: -9999px;
                  left: -9999px;
                  right: -9999px;
                  margin: auto;
                  z-index: 0; }
                .accessible .purchase_table .purchase_table_cell_container .purchase_table_contents .generic_table .generic_info_table .generic_info_image_purchase .img_container .img_container_child_portrait, .accessible_generic .purchase_table .purchase_table_cell_container .purchase_table_contents .generic_table .generic_info_table .generic_info_image_purchase .img_container .img_container_child_portrait {
                  max-width: 253px;
                  top: -9999px;
                  bottom: -9999px;
                  left: -9999px;
                  right: -9999px;
                  margin: auto;
                  z-index: 0; }
            .accessible .purchase_table .purchase_table_cell_container .purchase_table_contents .generic_table .generic_info_table .generic_info_spacer, .accessible_generic .purchase_table .purchase_table_cell_container .purchase_table_contents .generic_table .generic_info_table .generic_info_spacer {
              width: 30px;
              display: inline-block;
              float: right; }
            .accessible .purchase_table .purchase_table_cell_container .purchase_table_contents .generic_table .generic_info_table .generic_info, .accessible_generic .purchase_table .purchase_table_cell_container .purchase_table_contents .generic_table .generic_info_table .generic_info {
              width: 537px;
              display: inline-block;
              float: left;
              font-size: 14px;
              font-family: trade_gothic, sans-serif;
              color: #000; }
            .accessible .purchase_table .purchase_table_cell_container .purchase_table_contents .generic_table .generic_info_table .generic_info_purchase, .accessible_generic .purchase_table .purchase_table_cell_container .purchase_table_contents .generic_table .generic_info_table .generic_info_purchase {
              width: 537px;
              display: inline-block;
              float: right;
              font-size: 14px;
              font-family: trade_gothic, sans-serif;
              color: #000;
              line-height: 24px; }
              .accessible .purchase_table .purchase_table_cell_container .purchase_table_contents .generic_table .generic_info_table .generic_info_purchase a, .accessible .purchase_table .purchase_table_cell_container .purchase_table_contents .generic_table .generic_info_table .generic_info_purchase a:hover, .accessible_generic .purchase_table .purchase_table_cell_container .purchase_table_contents .generic_table .generic_info_table .generic_info_purchase a, .accessible_generic .purchase_table .purchase_table_cell_container .purchase_table_contents .generic_table .generic_info_table .generic_info_purchase a:hover {
                cursor: pointer;
                font-family: trade_gothic_bold, sans-serif;
                text-decoration: none;
                color: #000; }
              .accessible .purchase_table .purchase_table_cell_container .purchase_table_contents .generic_table .generic_info_table .generic_info_purchase a:hover, .accessible_generic .purchase_table .purchase_table_cell_container .purchase_table_contents .generic_table .generic_info_table .generic_info_purchase a:hover {
                color: #009347; }
            .accessible .purchase_table .purchase_table_cell_container .purchase_table_contents .generic_table .generic_info_table .generic_info_landscape_purchase, .accessible_generic .purchase_table .purchase_table_cell_container .purchase_table_contents .generic_table .generic_info_table .generic_info_landscape_purchase {
              width: 537px;
              display: inline-block;
              float: left;
              font-size: 14px;
              font-family: trade_gothic, sans-serif;
              color: #000;
              line-height: 24px; }

/*# sourceMappingURL=film_purchase.css.map */
