.top_buffer {
    width: auto;
    height: 210px;
}

.not_accessible {
    width: 850px;
    height: 600px;
    border-top: 1px solid #000000;
    font-family: league_gothic, sans-serif;
    font-size: 30px;

    .sorry_text {
        text-align: center;
        vertical-align: middle;
        line-height: 600px; 
    }
}

.accessible {
    position:relative;
    width: 850px;
    border-top: 1px solid #000000;
    display: block;

    .filmmaker_table {
        width: 850px;
        display: table;
        table-layout: fixed;

        .filmmaker_table_cell_container {
            display: table-row;

            .filmmaker_table_cell_left_margin, .filmmaker_table_cell_right_margin {
                width: 1.8%;
                display: table-cell;
            }

            .filmmaker_table_spacer {
                height: 15px;
                display: table-row;
            }

            .filmmaker_sub_head_bio_spacer {
                height: 15px;
                display: table-row;
            }

            .filmmaker_sub_head_filmmography_spacer {
                height: 15px;
                display: table-row;
            }

            .filmmaker_table_cell_centre {
                width: 96.4%;
                display: table-row;

                .filmmaker_table_end_buffer {
                    width: 100%;
                    height: 75px;
                    display: table;
                }

                .filmmaker_table_filmmaker_info_row {
                    display: table;

                    .filmmaker_table_filmmaker_title_cell {
                        width: 65.45%;
                        display: table-row;

                        .filmmaker {
                            font-family: league_gothic, sans-serif;
                            font-size: 30px;
                            margin-top: 11px;
                        }

                    }

                    .filmmaker_table_bio_heading_title_cell {
                        width: 65.45%;
                        display: table-row;

                        .bio_heading {
                            font-family: trade_gothic_bold, sans-serif;
                            font-size: 14px;
                        }
                    }

                    .filmmaker_table_biography_title_cell {
                        width: 536.69px;
                        display: table-row;

                        .biography {
                            width: 536.69px;
                            font-family: trade_gothic, sans-serif;
                            font-size: 14px;
                        }
                    }

                    .filmmaker_table_filmmaker_spacer_cell {
                        width: 34.55%;
                        display: table;
                    }

                }
                .filmmaker_table_filmmaker_filmography {
                    display: table;


                    .filmmaker_table_filmmaker_filmography_row {
                        display: table-row;

                        .filmmaker_table_filmography_title_cell {
                            width: 100%;
                            display: table-row;

                            .filmography_heading {
                                font-family: trade_gothic_bold, sans-serif;
                                font-size: 14px;
                            }
                        }

                        .filmmaker_table_filmography_film_cell_spacer {
                            width: 30px;
                            //display: table-row;
                        }

                        .filmmaker_table_filmography_film_cell {
                            width: 30.9%;
                            display: table-cell;

                            a:hover {
                            color: #009347;
                            cursor: pointer;

                                .film_still_container {
                                    border: 2px solid;
                                }
                            }

                            a {
                                color: #000;
                                text-decoration: none; /* no underline */
                            
                                .film_still_container {
                                    width: 253px;
                                    height: 188px;
                                    background-color: #D8D8D8;
                                    overflow: hidden;
                                    position: relative;

                                    .film_still_container_child {
                                        position: absolute;
                                        top: -9999px;
                                        bottom: -9999px;
                                        left: -9999px;
                                        right: -9999px;
                                        margin: auto;
                                    }
                                }

                                .film_still_container:hover {
                                    border: 2px solid;
                                }

                                .film_details {
                                    width: 100%;
                                    font-family: trade_gothic, sans-serif;
                                    font-size: 14px;

                                    .title {
                                        font-size: 16px;
                                    }

                                    b {
                                        font-weight: normal;
                                        font-family: trade_gothic_bold, sans-serif;
                                    }

                                    i {
                                        font-weight: normal;
                                        font-family: trade_gothic_italic, sans-serif;
                                    }
                                }

                                .film_pre_spacer {
                                    height: 15px;
                                }

                                .film_post_spacer {
                                    height: 22px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}