@mixin color_container($name, $color) {

    .#{$name}_text {
        color: #000;

        a, a:hover {
            text-decoration: none;
            color:#000;
            font-family: trade_gothic_bold, sans-serif;
            cursor: pointer;
        }

        a:hover {
            color: $color;
        }
    }

    .#{$name} {
        color: $color;
    }

    .#{$name}_img{
        width: 253px;
        height: 188px;
        //border: 2px solid #fff;
        display: table-cell;
        color: $color;
        position: relative;
        overflow: hidden;
        background: #D8D8D8;
        float: left;

        .film_still_container_child {
                position: absolute;
                top: -9999px;
                bottom: -9999px;
                left: -9999px;
                right: -9999px;
                margin: auto;
            }

        .table_purchase_container_center {
            margin: auto;
            margin-top: 6%;
            width: 87%;
            height: 84%;
            //background-color: purple; 
            vertical-align:middle;
            display: table;
            text-align: center;
            position: relative;
            
        }
    }

    a, a:hover {

        .#{$name}_a {
            color: #000;
            border: none;
            cursor: pointer;
            text-decoration: none;
        }
    }

    a:hover {
        .#{$name}_a {
            border: 2px solid $color;
            color: $color;
            cursor: pointer;
        }
    }
}

.top_buffer {
    width: auto;
    height: 210px;
}

.accessible {
    border-top: 1px solid #000000;
}

@include color_container(red_container, #E22134);
@include color_container(yellow_container, #FFC300);
@include color_container(green_container, #009347);
@include color_container(blue_container, #0082B8);
@include color_container(orange_container, #F56F02);
@include color_container(purple_container, #6F3296);
@include color_container(black_container, #000);
@include color_container(grey_container, #D8D8D8);

.accessible, .accessible_generic {
position:relative;
width: 850px;
display: block;

    .purchase_table {
        width: 850px;
        height: 100px;
        //background-color: red;
        display: table;
        font-size: 14px;
        font-family: trade_gothic, sans-serif;

        ul {
            list-style: none;
            margin: 0; 
            padding: 0;
            margin-left: 30px; 
        }

        li::before {
            content: "•"; 
            color: #FFC300;
            display: inline-block; 
            width: 1.5em;
            margin-left: -1.5em;
            float: top;
        }

        .purchase_table_end_buffer {
            display: table;
            width: 100%;
            height: 75px;
        }

        .purchase_table_cell_container {
            display: table-row;

            .purchase_table_cell_left_margin, .purchase_table_cell_right_margin {
                width: 1.8%;
                display: table-cell;
                //background-color: green;
            }

            .purchase_table_contents {
                //width: 11.3%;
                display: table-cell;

                .volume_container{
                    width: 820px;
                    display: table;

                    .volume_title_container {
                        display: table;

                        .volume_title {
                            font-family: trade_gothic_bold, sans-serif;
                            font-size: 18px;
                        }
                    }

                    .volume_additional_text_container {
                        font-family: trade_gothic, sans-serif;
                        font-size: 14px;
                        display: table;
                    }

                    .films_container {
                        display: table;
                        .film_container {
                            width: 820px;
                            display: table;
                            .film_text_container {
                                width: 537px;
                            }
                        }
                    }

                }

                .contents_spacer {
                    width: 100%;
                    height: 30px;
                    display: table;
                }

                .contents_end_buffer {
                    display: table;
                    width: 100%;
                    height: 75px;
                }

                .generic_table {
                    display: table;

                    .generic_table_title {
                        //width: 11.3%;
                        display: table;
                        //background-color: purple;

                        .generic_title {
                            font-family: league_gothic, sans-serif;
                            font-size: 30px;
                            margin-top: 11px;
                            color: #000;
                            display: inline-block;
                        }

                        .generic_sub_title {
                            font-family: trade_gothic_bold, sans-serif;
                            font-size: 18px;
                            margin-top: 11px;
                            color: #000;
                            display: inline-block;
                        }

                    }

                    .generic_spacer {
                        width: 100%;
                        height: 30px;
                        display: table;
                    }

                    .generic_spacer_sm {
                        width: 100%;
                        height: 15px;
                        display: table;
                    }

                    .generic_spacer_purchase {
                        width: 100%;
                        height: 30px;
                        display: table;
                    }

                    .generic_info_table {
                        display: table;

                        .generic_text {
                            // float: left;
                            font-size: 14px;
                            font-family: trade_gothic, sans-serif;

                            b {
                                font-weight: normal;
                                font-family: trade_gothic_bold, sans-serif;
                            }

                            a, a:hover {
                                cursor: pointer;
                                text-decoration: none;
                                color: #000;
                            }

                            a:hover {
                                color: #009347;
                            }
                        }

                        .generic_text_spacer {
                            height: 15px;
                        }

                        .generic_text_spacer_lg {
                            height: 30px;
                        }

                        .generic_info_image {
                            width: 253px;
                            height:188px;
                            display: inline-block;
                            float: right;
                            //background-color: green;

                            .img_container {
                                width: 253px;
                                height:188px;
                                background-color: #fff;
                                overflow:hidden;
                                position: relative;
                                //margin-left: auto; 
                                //margin-right: auto;
                                //display: table;

                                .img_container_child {
                                    //max-width: 188px;
                                    position: absolute;
                                    top: -9999px;
                                    bottom: -9999px;
                                    left: -9999px;
                                    right: -9999px;
                                    margin: auto;
                                    z-index: 0;
                                }


                            }
                        }

                        .generic_info_image_landscape_purchase {
                            //width: 253px;
                            //height:188px;
                            display: inline-block;
                            float: left;
                            clear: both;
                            //background-color: green;

                            .img_container_child_landscape {
                                max-width: 537px;
                                //position: absolute;
                                margin: auto;
                                z-index: 0;
                            }
                        }

                        .generic_info_image_purchase {
                            width: 253px;
                            //height:188px;
                            display: inline-block;
                            float: left;
                            //background-color: green;

                            .img_container_child_portrait {
                                max-width: 253px;
                                //position: absolute;
                                margin: auto;
                                z-index: 0;
                            }

                            .img_container_child_landscape {
                                max-width: 537px;
                                //position: absolute;
                                margin: auto;
                                z-index: 0;
                            }

                            .img_container {
                                width: 253px;
                                //height:188px;
                                background-color: #fff;
                                //overflow:hidden;
                                position: relative;
                                //margin-left: auto; 
                                //margin-right: auto;
                                //display: table;

                                .img_container_child {
                                    //max-width: 188px;
                                    position: absolute;
                                    top: -9999px;
                                    bottom: -9999px;
                                    left: -9999px;
                                    right: -9999px;
                                    margin: auto;
                                    z-index: 0;
                                }

                                .img_container_child_portrait {
                                    max-width: 253px;
                                    //position: absolute;
                                    top: -9999px;
                                    bottom: -9999px;
                                    left: -9999px;
                                    right: -9999px;
                                    margin: auto;
                                    z-index: 0;
                                }
                            }
                        }

                        .generic_info_spacer {
                            width: 30px;
                            display: inline-block;
                            float: right;
                        }

                        .generic_info {
                            width: 537px;
                            display: inline-block;
                            float: left;
                            font-size: 14px;
                            font-family: trade_gothic, sans-serif;
                            color: #000;
                            //background-color: green;
                        }

                        .generic_info_purchase {
                            width: 537px;
                            display: inline-block;
                            float: right;
                            font-size: 14px;
                            font-family: trade_gothic, sans-serif;
                            color: #000;
                            line-height: 24px;
                            //background-color: green;

                             a, a:hover {
                                cursor: pointer;
                                font-family: trade_gothic_bold, sans-serif;
                                text-decoration: none;
                                color: #000;
                            }

                            a:hover {
                                color: #009347;
                            }
                        }

                        .generic_info_landscape_purchase {
                            width: 537px;
                            display: inline-block;
                            float: left;
                            font-size: 14px;
                            font-family: trade_gothic, sans-serif;
                            color: #000;
                            line-height: 24px;
                            //background-color: green;
                        }
                    }
                }
            }
        }
    }
}
